.form {
  display: flex;
  justify-content: space-between;
}
.form button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #f37543;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
